h1{
    background-color: red;
}
#division{
    c0lor: rgb(129, 22, 243)
    text-align:justify-content
    text-decoration: dotted;
    text-transport
}
#division{
    color: rgb(158, 207, 59)
}
.one{
    color: red
}
.black{
    color:black
}
.sweet{
     color: green
}